{% load static %}

h4{
    color: white;
    font-style: sans-serif ;
    padding-left: 60px;
    padding-top: 40px;
    font-family:monospace;
    font-size: 30px;
}
#start{
    margin-right:400px;
}
h1{
    padding-left: 60px;
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    
}
p{
    padding-left: 60px;
    padding-right: 10px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}
#edision{
    color: orange;
    font-size: 30px;
    top: 300px;
    display:inline;
    position:relative;
}
#author{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    position:relative;
    font-size:40px;
    font-weight:bold;
    bottom: 150px;
    right: 200px;
}
#packt{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    position:relative;
    left: 40px;
    bottom: 150px;
    font-size:50px;
    font-weight:bold;
}
img{
    display:inline;
    position:relative;
    left: 550px;
    bottom: 210px;

}
#aj{
    margin-top:300px ;
}
